body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #b3e0f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    color: #333;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    width: calc(100% - 22px);
}

input[type="radio"] {
    margin-right: 5px;
}

.gender-options {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.gender-options label {
    margin-right: 15px;
}

.phone-input {
    display: flex;
    align-items: center;
}

.phone-input span {
    background-color: #ccc;
    padding: 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.phone-input input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 0;
    width: calc(100% - 42px);
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
